.message {
    background-color: #3d3d4c;
    border-radius: 4px;
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    white-space: pre-line;
    overflow-wrap: break-word;
    font-size: 1.2rem;
}

.message p {
    margin: 0;
}

.message__interact {
    display: flex;
    justify-content: flex-end;
}

.message__icon {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 25px;
    min-width: 25px;
}

.message__icon:not(:last-child) {
    margin-right: 0.2rem;
}
